.container {
    width: 70%;
    margin: 0 auto;
}


.container-background {
    background-image: url('../img/POR\ PLA-II\ &\ SAM-I\ plaatje2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px;
    
}

.container-text {
    background-color: yellow;
    padding: 100px;
    font-size: 18px;
}

.container-text-titel {
    padding-bottom: 25px;
}