.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    background-color: #80808075;
}

.insta {
	width: 30px;
	height: 30px;
}

.facebook {
	width: 38px;
	height: 33px;
}

.ad {
	display: flex;
	flex-direction: row;
}