*{
	padding: 0;
	margin: 0;
}

header{
	background-color:rgba(28, 142, 255);
	display: flex;
	padding: 20px;
	justify-content: space-between;
	algin-items: center;
}

.wrapper{
	width: 968px;
  	margin: 0 auto;
}

.navbar{
	display: flex;
	align-items: center;
}

a{
	text-decoration: none;
	padding-left: 50px;
	font-size: 25px;
	color: black;
}

.homePage main{
	background-image: url("../img/homePage.jpg");
}

h1{
	padding-top: 150px;
	padding-bottom: 50px;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
}	