*{
	padding: 0;
	margin: 0;
}

header{
	background-color:rgba(28, 142, 255);
	display: flex;
	padding: 20px;
	justify-content: space-between;
	align-items: center;
}

.wrapper{
	width: 968px;
  	margin: 0 auto;
}

.navbar{
	display: flex;
	align-items: center;
}

a{
	text-decoration: none;
	padding-left: 50px;
	font-size: 25px;
	color: black;
}

a:hover {
	color: rgba(255, 237, 43);
}

.homePage{
	background-image: url("../img/homePage.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 100px;
}

h1{
	padding-top: 160px;
	padding-bottom: 100px;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	color: rgba(255, 237, 43);
}	

.homePageText{
	padding-top: 100px;
	padding-bottom: 100px;
	font-size: 20px;
	background-color: rgba(255, 237, 43);
}

.homePageText .wrapper p{
	padding-top: 15px;
}

.form{
	display: flex;
	flex-direction: column;
}

/*achtbaan pagina*/

.container {
    width: 968px;
    margin: 0 auto;
}

.container-background {
    background-image: url('../img/POR\ PLA-II\ &\ SAM-I\ plaatje2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px; 
}

.container-text {
    background-color: rgba(255, 237, 43);
    padding: 100px;
    font-size: 18px;
}

.container-text-titel {
    padding-bottom: 25px;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    background-color: #80808075;
}

.insta {
	width: 30px;
	height: 30px;
}

.facebook {
	width: 38px;
	height: 33px;
}

.ad {
	display: flex;
	flex-direction: row;
}