*{
	padding: 0;
	margin: 0;
}

header{
	background-color:rgba(28, 142, 255);
	display: flex;
	padding: 20px;
	justify-content: space-between;
	algin-items: center;
}

.wrapper{
	width: 968px;
  	margin: 0 auto;
}

.navbar{
	display: flex;
	align-items: center;
}

a{
	text-decoration: none;
	padding-left: 50px;
	font-size: 25px;
	color: black;
}

a:hover {
	color: rgba(255, 237, 43);
}

.homePage{
	background-image: url("../img/homePage.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

h1{
	padding-top: 160px;
	padding-bottom: 100px;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	color: rgba(255, 237, 43);
}	

.homePageText{
	padding-top: 30px;
	padding-bottom: 101px;
	font-size: 20px;
	background-color: rgba(255, 237, 43);
}

.homePageText .wrapper p{
	padding-top: 15px;
}

.form{
	display: flex;
	flex-direction: column;
}